#connect {
  width: 100%;
  background-color: #060010;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin-top: 5%;
}

/* Fade-in animation */
.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}
h6{
    font-size: 100%;
}
@keyframes fadeIn {
  to { opacity: 1; }
}

/* Slide-up animation */
.slide-up {
  transform: translateY(40px);
  opacity: 0;
  animation: slideUp 1.2s ease forwards;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Title styling */
.connect-title {
  font-weight: 700;
  font-size: 2.1em;
  text-align: center;
  display: flex;
  align-items: center;
      color: white;
    font-family: "Bebas Neue", sans-serif;
  margin-bottom: 3%;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

/* Form container */
.connect-form {
  width: 30%;
  display: flex;
  padding: 2%;
  flex-direction: column;
  gap: 12px;
  background: #161319;
  padding-right: 6%;
  border-radius: 20px;
  
}

/* Inputs */
input,
textarea {
  width:100%;
  padding: 12px 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
  color: white;
  border-radius: 8px;
  outline: none;
  font-size: 0.9rem;
  backdrop-filter: blur(8px);
  transition: 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #a46aff;
  box-shadow: 0 0 10px #a46aff70;
}

/* Button */
.glow-btn {
  margin: 3%;
  padding: 12px 20px;
  border: none;
  background: linear-gradient(120deg, #6b4899, #111011);
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  align-self: center;
  min-width: 15vw;
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 0 12px rgba(164, 106, 255, 0.4);
}

.glow-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(164, 106, 255, 0.7);
}

textarea {
  height: 130px;
  resize: none;
}.connect-title svg{
  margin-left: -12px;
  scale: 0.45;
}
@media (max-width:640px) {
 #connect{
  display: block;
  margin-top: 20%;
 }
 .connect-form{
  margin: 1% auto;
  width: 80%;
  padding:4%;
 }
  input,
textarea{
  width: 90%;
  padding-left: 2%;
}.connect-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}#connect h3{
  font-size: 2rem;
  margin-bottom: 10%;
}.connect-title svg{
  scale: 0.4;
}
}