#developer{
    background-color: #060010;
    padding: 3%;
    border-top: 1px solid #251341b3 ;
    
}
#developer h3{
    font-size: 1rem;
    color: #a194b8e6;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    text-align: center ;
}#developer svg{
    width:1.4em;
    scale: 1;
    
}a{
    color: white;
    text-decoration: none;
    cursor: pointer;


} #developer a{
    display: flex;
    align-items: center;
    padding-left: 2px;
}
@media (max-width:640px) {
    #developer{
        height: 10vh;
        padding-top:10% ;
    }
}