#developer{
    background-color: #060010;
    padding: 3%;
    border-top: 1px solid #251341b3 ;
    
}
#developer h3{
    font-size: 1rem;
    color: #a194b8e6;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    text-align: center ;
}#developer svg{
    width:1.4em;
    scale: 1;
    
}a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}