*{
    padding: 0%;
    margin: 0%;


}
.video-background {
  position: relative;
  width: 100vw;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover; 
  z-index: 1; 
}
.main{
    height: 90vh;
    position: relative;
    width: 99vw;
    top:0%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 3.5rem;
    font-family: "Bebas Neue", sans-serif;

}
.main h3{
font-family: "Bebas Neue", sans-serif;
   color: white;
 
    font-weight: 900;
    font-size:6em;
    letter-spacing: 3px;
}.main h5#qual{

    font-size: 2em;
    font-weight: 300;
    background: none;
    color: rgb(198, 191, 188);
}.main a#btn {
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  border: 1px solid rgb(192, 192, 192);
  padding: 1rem 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-height:3vh ;
  text-decoration: none;
  transition: all 0.4s ease;
}

.main a#btn svg {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
  stroke: #ffffff;
}a#btn:hover{
    border: 1px solid white;
    transform: scale(1.04);
     box-shadow: 0px 0px 30px rgba(197, 197, 197, 0.603);
}


a#btn:hover {
 color:rgba(255, 255, 255, 0.811);
  border: 1px solid #6a4e97;
}



@media (max-width:700px) {
    .main {
        margin-top: -10vh;
        line-height: 1.8em;
        
    }.main h3{
        font-size: 3em;
        letter-spacing: 1px;
    }.main h5#qual{
        font-size: 1.1em; 
        margin-top:1% ;
    }.main a#btn{
        margin-top: 2%;
        height:1.5vh;
        font-size: 1.4em;
    }
}