.About {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
  padding: 2rem;
  color: white;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 0, 16, 0.6);
  z-index: 0;
}

.descrip {
  position: relative;
  z-index: 1;
  font-family: "Bebas Neue", sans-serif;
  max-width: 800px;
}

.descrip h3 {
  font-size: 70px;
  margin-bottom: 20px;
}

.descrip p {
  font-size: 20px;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  color: #ccc;
}
@media (max-width: 900px) {
  .descrip h3 {
    font-size: 55px;
  }
}

@media (max-width: 600px) {
  .descrip h3 {
    font-size: 40px;
  }

  .descrip p {
    font-size: 18px;
  }
}
