.Skills{
    background-color:#060010 ;
    margin-top: 6vh;
    padding-top: 3%;
    margin-bottom: 15vh;
}.Skills h2 , .experience h2  {
    text-align: center;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.3em;
    padding: 2%;
    letter-spacing: 1px;
    padding-bottom: 2%;
}.skill-icons{
    display: flex;
    justify-content: center;
    align-items: center;
   gap:10px;
  opacity: 0.9;
    
}.logoo {
  margin: 10px;
  width:50px;   
  height: 50px; 
  color: #ffffff;
  fill: #ffffff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
@media (max-width:700px) {
    .Skills{
        margin-top: 6vh;
    }.skill-icons{
        margin-top: 0%;
        scale: 0.9;
        gap:2px;
    }.Skills h2{
        font-size:1.9rem;
    }
}